label {
    font: 16px SansSerif;
}

label.add-placeholder {
    color: green;
}

label.remove-placeholder {
    color: red;
}

.gameplay-frame {
    border: white solid 1px;
}

.gameplay-frame-for-placeholder {
    border: none;
}

.gameplay-frame-in-winning-sequence {
    background-color: pink;
}